.lista{
  list-style: none;
  padding-left: 10px;
}
.cancion{
  border-bottom: 1px solid #2a2a2b;
  height: 40px;
}
.contenedorLista{
  margin-bottom: 50px;
}
.cancion:hover{
  background-color: #2a2a2b;
}
.barraControles{
  background-color: #2a2a2b;
  height: 50px;
  text-align: center;
}
.boton{
  font-size: 35px;
}
.seleccionada{
  background-color: #525252;
}